<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<link rel="stylesheet" href="static/style.css"/>
</head>
<body>
   <h1 id="score">Score:</h1>
   <div id="game">
       <img id="object"
            src="https://upload.wikimedia.org/wikipedia/commons/f/fb/718smiley.svg"
            width="50"
            height="50" />
   </div>

   <a href="/settings">Settings</a>
</body>
<script src="static/index.js"></script>
