<head>
<link rel="stylesheet" href="static/style.css"/>
</head>
<body>
    <form action="/" method="post">
        Background Color: <input type="text" name="bgcolor" value="ivory">
        <p>
        Game Color: <input type="text" name="gmcolor" value="white">
        <p>
        Object Image URL: <input type="text" name="imsrc"
        value="https://upload.wikimedia.org/wikipedia/commons/f/fb/718smiley.svg">
        <p>
        Font Color: <input type="text" name="fncolor" value="red">
        <p>
        <input type="submit" value="Apply">

    </form>
 

</body>
<script src="static/index.js"></script>
